:root {
  --color-primary: #ffcd11;
  --color-secondary: #000000;
  --color-black: #000000;
  --color-white: #fff;
  --color-primary-rgb: 255, 205, 17;
  --color-secondary-rgb: 0, 0, 0;
}

.property-slider {
  overflow: hidden;
  border-radius: 9px;
  border: 1px solid var(--color-primary);
  max-height: 450px;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.property-content {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.user {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.profile-link {
  color: var(--color-primary);

  font-weight: bold;
}

.related-slider {
  display: grid;
}

.adv img {
  width: 100%;
}

.property-related {
  max-width: 400px;
}

.property-related .property-img {
  height: 200px;
}

@media only screen and (max-width: 1200px) {
  .property-content {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .highlights {
    grid-template-columns: repeat(3, 1fr);
  }
}
